USE [STAGING]
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_RAW_IND_CWMPOLDET]    Script Date: 2022-09-10 3:27:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fauzan Indra Alfian
-- Create date: 2023-02-07
-- Description:	SP untuk update table ind.CWMPOLDET dari ind.CWMPOLDET
-- =============================================
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID('[dbo].[PROC_UPDATE_RAW_IND_CWMPOLDET]')
AND type IN ('TT', 'IT', 'U', 'FN', 'TF', 'V', 'P'))
	BEGIN
		DROP PROCEDURE [dbo].[PROC_UPDATE_RAW_IND_CWMPOLDET]
	END
GO
CREATE PROCEDURE [dbo].[PROC_UPDATE_RAW_IND_CWMPOLDET]
	-- Add the parameters for the stored procedure here
	@pi_LSEQID bigint ,
	@pi_ACTION int,
	@pi_TASK_EXECUTION_INSTANCE_ID int,
	------------------------------------------
	@pi_TMODDT datetime2(7),
	@pi_SPOLSTAT varchar(10) ,
	@pi_DPOLSTATDT date ,
	@pi_SPREMIND varchar(10) ,
	@pi_SCORROPT varchar(10) ,
	@pi_SNBPRODDTOPT varchar(10) ,
	@pi_SPOLCOMNDTOPT varchar(10) ,
	@pi_SCASHBENACHOLNAME varchar(100) ,
	@pi_SCASHBENBANKBR varchar(10) ,
	@pi_SCASHBENBANKCITY varchar(40) ,
	@pi_SPROPOSALNO varchar(12) ,
	@pi_FANNPREM numeric(19, 2),
	@pi_FANNSCHTOPUP numeric(19, 2),
	@pi_FANNTP numeric(19, 2),
	@pi_FANNZPREM numeric(19, 2),
	@pi_SAPPLBRCHCD varchar(10) ,
	@pi_SAPPLBRCHNO varchar(10) ,
	@pi_BAUTOGENFLG char(1) ,
	@pi_BBACKDTFLG char(1) ,
	@pi_DBRCHRECVDT date ,
	@pi_SCASHBENACC varchar(20) ,
	@pi_SCASHBENBANK varchar(30) ,
	@pi_SCASHBENOPT varchar(10) ,
	@pi_BCLNCASE char(1) ,
	@pi_SCNTOFFCODE varchar(5) ,
	@pi_BCNTOFFFLG char(1) ,
	@pi_FCORPPRMDISC numeric(19, 2),
	@pi_FCOVERUNIT numeric(19, 2),
	@pi_ICOVTERM int,
	@pi_IBENTERM int,
	@pi_SDATAREF varchar(10) ,
	@pi_SDIVOPT varchar(10) ,
	@pi_DENTRYDT date ,
	@pi_SFINALUWRT varchar(10) ,
	@pi_SFINALUWRTSTAT varchar(10) ,
	@pi_DFINALUWRTDT date ,
	@pi_FGRSINSTLPREM numeric(19, 2),
	@pi_SINITUWRT varchar(10) ,
	@pi_SINITUWRTSTAT varchar(10) ,
	@pi_DINITUWRTDT date ,
	@pi_FINSTLPREM numeric(19, 2),
	@pi_SINVESTTYPE varchar(10) ,
	@pi_SMASPOLNO varchar(20) ,
	@pi_DMATYDT date ,
	@pi_BMEDICAL varchar(10) ,
	@pi_IMORTDEFERYR int,
	@pi_FMORTGAGEINT numeric(19, 2),
	@pi_FUWSAR numeric(19, 2),
	@pi_DNBPRODDT date ,
	@pi_SNTUNO varchar(10) ,
	@pi_BORIDOC char(1) ,
	@pi_SPAYORAKTENO varchar(40) ,
	@pi_FPAYORANNEXP numeric(19, 2),
	@pi_FPAYORANNINC numeric(19, 2),
	@pi_SPAYORBANK varchar(60) ,
	@pi_SPAYORBANKACC varchar(20) ,
	@pi_SPAYORBANKBRCH varchar(60) ,
	@pi_SPAYORBANKCITY varchar(60) ,
	@pi_SPAYORBANKCURR varchar(10) ,
	@pi_SPAYORBANKUNIT varchar(60) ,
	@pi_SPAYORIND varchar(60) ,
	@pi_SPAYORNAME varchar(100) ,
	@pi_SPAYORNPWP varchar(30) ,
	@pi_SPAYOROCCUP varchar(60) ,
	@pi_SPAYORREFNO varchar(40) ,
	@pi_SPAYORREFTYPE varchar(10) ,
	@pi_SPAYORSIUPNO varchar(40) ,
	@pi_SPAYORTYPE varchar(10) ,
	@pi_IPENSIONAGE int,
	@pi_SPOLCHKDGT varchar(1) ,
	@pi_DPOLCOMNDT date ,
	@pi_SPOLCURRENCY varchar(10) ,
	@pi_BPOLDOCFLG char(1) ,
	@pi_DPOLGENDT date ,
	@pi_DPOLISSDT date ,
	@pi_DACCEPTDT date ,
	@pi_SPOLNO varchar(20) ,
	@pi_IPREMTERM int,
	@pi_BPOSTFLG char(1) ,
	@pi_FPREMDISC numeric(19, 2),
	@pi_SPREMMETH varchar(10) ,
	@pi_SPREMMODE varchar(10) ,
	@pi_SPRODUCTCODE varchar(10) ,
	@pi_DPROPOSALRECDT date ,
	@pi_SREMARK1 varchar(60) ,
	@pi_SREMARK2 varchar(60) ,
	@pi_SREMARK3 varchar(60) ,
	@pi_SREMARK4 varchar(60) ,
	@pi_BRESVFLG char(1) ,
	@pi_BFAMILYBUS char(1) ,
	@pi_BRIFLG char(1) ,
	@pi_FSERVTAXPERC numeric(19, 2),
	@pi_SSTD varchar(10) ,
	@pi_BSTFPOL char(1) ,
	@pi_DTRANSDT date ,
	@pi_FTPINSTLPREM numeric(19, 2),
	@pi_FSTUINSTLPREM numeric(19, 2),
	@pi_FGRSANNPREM numeric(19, 2),
	@pi_FGRSANNZPREM numeric(19, 2),
	@pi_FFADISC numeric(19, 2),
	@pi_FSTFDISC numeric(19, 2),
	@pi_FPOLADMFEE numeric(19, 2),
	@pi_FTOTBANNZPREM numeric(19, 2),
	@pi_FTOTBANNPREM numeric(19, 2),
	@pi_FTOTBINSTLPREM numeric(19, 2),
	@pi_FTOTRANNZPREM numeric(19, 2),
	@pi_FTOTRANNPREM numeric(19, 2),
	@pi_FTOTRINSTLPREM numeric(19, 2),
	@pi_FLOADPREM numeric(19, 2),
	@pi_FANNZLOADPREM numeric(19, 2),
	@pi_FLOADINSTLPREM numeric(19, 2),
	@pi_SPROPOSALTYPE varchar(10) ,
	@pi_SUWREMARK1 varchar(60) ,
	@pi_SUWREMARK2 varchar(60) ,
	@pi_SUWREMARK3 varchar(60) ,
	@pi_SUWREMARK4 varchar(60) ,
	@pi_BPOLADMINFEE char(1) ,
	@pi_IPOSTPONEMTH int,
	@pi_SENTRYID varchar(10) ,
	@pi_FUNAPPLIEDPREM numeric(19, 2),
	@pi_SUWSARBENCOMP varchar(10),
	@pi_SMOPOLNO varchar(20) ,
	@pi_SPAYORTOTEXP varchar(10) ,
	@pi_SPAYORTOTINC varchar(10) ,
	@pi_SINSPURPOSE varchar(10) ,
	@pi_SCASHBENBANKUNIT varchar(40) ,
	@pi_DMRIAPRLDT date ,
	@pi_SOPID varchar(10) ,
	@pi_BNCB char(1) 


AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE
		ind.CWMPOLDET
	SET
		 ACTION  =  @pi_ACTION
		,CAPTURED_DATE	 =  CURRENT_TIMESTAMP
		,TASK_EXECUTION_INSTANCE_ID	 =  @pi_TASK_EXECUTION_INSTANCE_ID
-----------------------------------------
		,LSEQID = @pi_LSEQID
		,TMODDT = @pi_TMODDT
		,SPOLSTAT = @pi_SPOLSTAT
		,DPOLSTATDT = @pi_DPOLSTATDT
		,SPREMIND = @pi_SPREMIND
		,SCORROPT = @pi_SCORROPT
		,SNBPRODDTOPT = @pi_SNBPRODDTOPT
		,SPOLCOMNDTOPT = @pi_SPOLCOMNDTOPT
		,SCASHBENACHOLNAME = @pi_SCASHBENACHOLNAME
		,SCASHBENBANKBR = @pi_SCASHBENBANKBR
		,SCASHBENBANKCITY = @pi_SCASHBENBANKCITY
		,SPROPOSALNO = @pi_SPROPOSALNO
		,FANNPREM = @pi_FANNPREM
		,FANNSCHTOPUP = @pi_FANNSCHTOPUP
		,FANNTP = @pi_FANNTP
		,FANNZPREM = @pi_FANNZPREM
		,SAPPLBRCHCD = @pi_SAPPLBRCHCD
		,SAPPLBRCHNO = @pi_SAPPLBRCHNO
		,BAUTOGENFLG = @pi_BAUTOGENFLG
		,BBACKDTFLG = @pi_BBACKDTFLG
		,DBRCHRECVDT = @pi_DBRCHRECVDT
		,SCASHBENACC = @pi_SCASHBENACC
		,SCASHBENBANK = @pi_SCASHBENBANK
		,SCASHBENOPT = @pi_SCASHBENOPT
		,BCLNCASE = @pi_BCLNCASE
		,SCNTOFFCODE = @pi_SCNTOFFCODE
		,BCNTOFFFLG = @pi_BCNTOFFFLG
		,FCORPPRMDISC = @pi_FCORPPRMDISC
		,FCOVERUNIT = @pi_FCOVERUNIT
		,ICOVTERM = @pi_ICOVTERM
		,IBENTERM = @pi_IBENTERM
		,SDATAREF = @pi_SDATAREF
		,SDIVOPT = @pi_SDIVOPT
		,DENTRYDT = @pi_DENTRYDT
		,SFINALUWRT = @pi_SFINALUWRT
		,SFINALUWRTSTAT = @pi_SFINALUWRTSTAT
		,DFINALUWRTDT = @pi_DFINALUWRTDT
		,FGRSINSTLPREM = @pi_FGRSINSTLPREM
		,SINITUWRT = @pi_SINITUWRT
		,SINITUWRTSTAT = @pi_SINITUWRTSTAT
		,DINITUWRTDT = @pi_DINITUWRTDT
		,FINSTLPREM = @pi_FINSTLPREM
		,SINVESTTYPE = @pi_SINVESTTYPE
		,SMASPOLNO = @pi_SMASPOLNO
		,DMATYDT = @pi_DMATYDT
		,BMEDICAL = @pi_BMEDICAL
		,IMORTDEFERYR = @pi_IMORTDEFERYR
		,FMORTGAGEINT = @pi_FMORTGAGEINT
		,FUWSAR = @pi_FUWSAR
		,DNBPRODDT = @pi_DNBPRODDT
		,SNTUNO = @pi_SNTUNO
		,BORIDOC = @pi_BORIDOC
		,SPAYORAKTENO = @pi_SPAYORAKTENO
		,FPAYORANNEXP = @pi_FPAYORANNEXP
		,FPAYORANNINC = @pi_FPAYORANNINC
		,SPAYORBANK = @pi_SPAYORBANK
		,SPAYORBANKACC = @pi_SPAYORBANKACC
		,SPAYORBANKBRCH = @pi_SPAYORBANKBRCH
		,SPAYORBANKCITY = @pi_SPAYORBANKCITY
		,SPAYORBANKCURR = @pi_SPAYORBANKCURR
		,SPAYORBANKUNIT = @pi_SPAYORBANKUNIT
		,SPAYORIND = @pi_SPAYORIND
		,SPAYORNAME = @pi_SPAYORNAME
		,SPAYORNPWP = @pi_SPAYORNPWP
		,SPAYOROCCUP = @pi_SPAYOROCCUP
		,SPAYORREFNO = @pi_SPAYORREFNO
		,SPAYORREFTYPE = @pi_SPAYORREFTYPE
		,SPAYORSIUPNO = @pi_SPAYORSIUPNO
		,SPAYORTYPE = @pi_SPAYORTYPE
		,IPENSIONAGE = @pi_IPENSIONAGE
		,SPOLCHKDGT = @pi_SPOLCHKDGT
		,DPOLCOMNDT = @pi_DPOLCOMNDT
		,SPOLCURRENCY = @pi_SPOLCURRENCY
		,BPOLDOCFLG = @pi_BPOLDOCFLG
		,DPOLGENDT = @pi_DPOLGENDT
		,DPOLISSDT = @pi_DPOLISSDT
		,DACCEPTDT = @pi_DACCEPTDT
		,SPOLNO = @pi_SPOLNO
		,IPREMTERM = @pi_IPREMTERM
		,BPOSTFLG = @pi_BPOSTFLG
		,FPREMDISC = @pi_FPREMDISC
		,SPREMMETH = @pi_SPREMMETH
		,SPREMMODE = @pi_SPREMMODE
		,SPRODUCTCODE = @pi_SPRODUCTCODE
		,DPROPOSALRECDT = @pi_DPROPOSALRECDT
		,SREMARK1 = @pi_SREMARK1
		,SREMARK2 = @pi_SREMARK2
		,SREMARK3 = @pi_SREMARK3
		,SREMARK4 = @pi_SREMARK4
		,BRESVFLG = @pi_BRESVFLG
		,BFAMILYBUS = @pi_BFAMILYBUS
		,BRIFLG = @pi_BRIFLG
		,FSERVTAXPERC = @pi_FSERVTAXPERC
		,SSTD = @pi_SSTD
		,BSTFPOL = @pi_BSTFPOL
		,DTRANSDT = @pi_DTRANSDT
		,FTPINSTLPREM = @pi_FTPINSTLPREM
		,FSTUINSTLPREM = @pi_FSTUINSTLPREM
		,FGRSANNPREM = @pi_FGRSANNPREM
		,FGRSANNZPREM = @pi_FGRSANNZPREM
		,FFADISC = @pi_FFADISC
		,FSTFDISC = @pi_FSTFDISC
		,FPOLADMFEE = @pi_FPOLADMFEE
		,FTOTBANNZPREM = @pi_FTOTBANNZPREM
		,FTOTBANNPREM = @pi_FTOTBANNPREM
		,FTOTBINSTLPREM = @pi_FTOTBINSTLPREM
		,FTOTRANNZPREM = @pi_FTOTRANNZPREM
		,FTOTRANNPREM = @pi_FTOTRANNPREM
		,FTOTRINSTLPREM = @pi_FTOTRINSTLPREM
		,FLOADPREM = @pi_FLOADPREM
		,FANNZLOADPREM = @pi_FANNZLOADPREM
		,FLOADINSTLPREM = @pi_FLOADINSTLPREM
		,SPROPOSALTYPE = @pi_SPROPOSALTYPE
		,SUWREMARK1 = @pi_SUWREMARK1
		,SUWREMARK2 = @pi_SUWREMARK2
		,SUWREMARK3 = @pi_SUWREMARK3
		,SUWREMARK4 = @pi_SUWREMARK4
		,BPOLADMINFEE = @pi_BPOLADMINFEE
		,IPOSTPONEMTH = @pi_IPOSTPONEMTH
		,SENTRYID = @pi_SENTRYID
		,FUNAPPLIEDPREM = @pi_FUNAPPLIEDPREM
		,SUWSARBENCOMP = @pi_SUWSARBENCOMP
		,SMOPOLNO = @pi_SMOPOLNO
		,SPAYORTOTEXP = @pi_SPAYORTOTEXP
		,SPAYORTOTINC = @pi_SPAYORTOTINC
		,SINSPURPOSE = @pi_SINSPURPOSE
		,SCASHBENBANKUNIT = @pi_SCASHBENBANKUNIT
		,DMRIAPRLDT = @pi_DMRIAPRLDT
		,SOPID = @pi_SOPID
		,BNCB = @pi_BNCB

	WHERE
		LSEQID = @pi_LSEQID
		AND IS_DELETED = 0
END
